/* ***********************************************************************
    RESET */
html {
    font-size: 14px;
}


body {
    font-family: "Lato", sans-serif;
    color: #090f25;
    background: #f2f5fa;
}


.column1 {
	border-top: 1px dotted #c7c7c7;
	margin-left: 100px;
	padding-top:5px;
	margin-right: 50px;
}
.column2 {
	border-top: 1px dotted #c7c7c7;
	margin-right: 100px;
	padding-top:5px;
	
}
.columnx {
    margin: auto;
    width: 50%;
    padding: 10px;
	
}

.rect {
    width: 80px;
    height: 80px;
    position: absolute;
    left: -1000px;
    top: -1000px;
  }

.inputForm {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.button {
	cursor: pointer;
	border:1px solid #a8c1d5; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
	background-color: #CEDCE7; background-image: -webkit-gradient(linear, left top, left bottom, from(#CEDCE7), to(#596a72));
	background-image: -webkit-linear-gradient(top, #CEDCE7, #596a72);
	background-image: -moz-linear-gradient(top, #CEDCE7, #596a72);
	background-image: -ms-linear-gradient(top, #CEDCE7, #596a72);
	background-image: -o-linear-gradient(top, #CEDCE7, #596a72);
	background-image: linear-gradient(to bottom, #CEDCE7, #596a72);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#CEDCE7, endColorstr=#596a72);
}	
 
.button:hover {
	border:1px solid #8aabc5;
	background-color: #acc4d6; background-image: -webkit-gradient(linear, left top, left bottom, from(#acc4d6), to(#434f55));
	background-image: -webkit-linear-gradient(top, #acc4d6, #434f55);
	background-image: -moz-linear-gradient(top, #acc4d6, #434f55);
	background-image: -ms-linear-gradient(top, #acc4d6, #434f55);
	background-image: -o-linear-gradient(top, #acc4d6, #434f55);
	background-image: linear-gradient(to bottom, #acc4d6, #434f55);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#acc4d6, endColorstr=#434f55);
}	

#pathInput {
	font-size: 16px;
	height: auto;
	border: none;
	width: 100%;
	margin: 0px;
	box-sizing: content-box;
	line-height: normal;
	overflow: visible;
}    

