.full-middle-col {
	text-align: center;
	margin: 16px;
	background-color: #f1f1f1;
	overflow: hidden;
}

.two-col {
	display: flex;
	margin: 1em;
	color: black;
	text-decoration: none;
}

.two-col a, .two-col a:hover {
	color: black;
	text-decoration: none;
	display: block;
}

.left-col {
	text-align: center;
	background-color: #eaeaea;
	flex: 50%;
	margin-right: 1em;
	cursor: pointer;
	overflow: hidden;
}

.right-col {
	text-align: center;
	background-color: #eaeaea;
	float: right;
	flex: 50%;
	cursor: pointer;
	overflow: hidden;
	
}

.left-col:hover,
.right-col:hover {
	background-color: #eaeaea;
}

#topLeftCol:hover .col-text .egg,
#topRightCol:hover .col-text .egg,
#botLeftCol:hover .col-text .egg,
#botRightCol:hover .col-text .egg {
    height: 200%;
    width: 200%;
    left: -50%;
    top: -50%;
}

#topLeftCol:hover .col-text .col-text-heading,
#topRightCol:hover .col-text .col-text-heading,
#botLeftCol:hover .col-text .col-text-heading,
#botRightCol:hover .col-text .col-text-heading {
	font-weight: 600;
}

.center-col {
	padding: 3rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;

}

.center-col-heading {
	font-weight: 400;
	font-size: 3.5rem;
	line-height: 1.2;
	margin-bottom: 0.5rem;
	text-align: center;
}

.center-col-text-normal {
	text-align: center;
	font-weight: 400;
	font-size: 1.25rem;
	margin-bottom: 1rem;
	margin-top: 0;
}

.col-text {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	position: relative;
}

.col-text-heading {
	margin-bottom: 0.5em;
	font-weight: 500;
	line-height: 1.2;
	font-size: 2em;
}

.col-text-normal {
	font-weight: 300;
	font-size: 1.25em;
	margin-bottom: 1em;
}

@media (max-width: 50em) {
	.center-col-heading {
		font-size: 2rem;
	}
	.center-col-text-normal {
		font-size: 1rem;
	}
	.two-col{
		display: block;
	}
	.right-col{
		float: none;
		margin-left: 0;
	}
	.left-col {
		margin-right: 0;
		margin-bottom: 1em;
	}	
}

.egg {
	height: 400px;
	width: 200px;
	border-radius: 50%;
	z-index: 10;
	opacity: 0.5;	
	left: calc(50% - 100px);
	position: absolute;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

#eggLeftTop {
	bottom: -45%;
	background-color: #f25e5e;
}

#eggRightTop {
	bottom: -45%;
	background-color: #5f5f5f;
}

#eggRightBot {
	Top: -45%;
	background-color: #f25e5e;
}

#eggLeftBot {
	Top: -45%;
	background-color: #5f5f5f;
}

@media (max-width: 50em) {
	#eggRightTop {
		Top: -45%;
		bottom: auto;
	}
	#eggLeftBot {
		bottom: -45%;
		Top: auto;
	}
}

#logoContainer {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.index-icon {
	width: auto;
}

#indexBackground {
	width: 100%;
	max-height: 400px;
	filter: opacity(0.6);
}

.background-container {
    position: relative;
    text-align: center;
}

.background-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: #f25e5e;
}

h1 {
	font-size: 3.5rem;
}

.sidebar-tog span,
.sidebar-tog span:before,
.sidebar-tog span:after {
	background-color: #f25e5e;
}
