/* ***********************************************************************
    RESET */
html {
    font-size: 14px;
	background-color: rgb(242, 245, 250);
	height: 100%;
}


body {
    font-family: "Lato", sans-serif;

}

pre {
	width: 70%;
	display: block;
	margin: auto;
	padding: 1em;
	overflow-x: auto;
	word-wrap: break-word;
	background-color: #ffffff;
	white-space: normal;
	text-align: left;
	background-color: rgb(242, 245, 250);
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

canvas {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#layout {
	position: relative;
	padding-left: 200px;
}
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5f5f5f;
    overflow-x: hidden;
    padding-top: 0px;
	
}

.sidebar a {
    padding: 6px 8px 10px 40px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(222, 222, 222);
    display: block;
}

.sidebar a:hover {
    color: rgb(255,255,255);
	background-color: #f25e5e;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}


#sidebar-title {
	padding: 15px 8px 10px 16px;
	border-top: none;
	font-size: 30px;
	color: rgb(242, 245, 250);
	background-color: #f25e5e;
	display: block;
    margin-bottom: 0px;
	text-decoration: none;

}

#sidebar-title :hover {
	background-color: rgb(0,0,0);
	cursor: mouse;
	color: rgb(255,255,255);
	
}

#sidebar-title a:hover {
	background-color: rgb(0,0,0);
	cursor: mouse;
	text-decoration: none;
}

.sidebar-headings {
	border-top: 1px solid #777;
    padding: 15px 8px 1px 16px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(160, 160, 160);
    display: block;
}

#main-container {
	height: 100%;
	display: block;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
}

#main-title {
	text-align: center;
	border-bottom: 1px solid #dcdcdc;
	padding: 50px 38px 0 38px;
	color:#f25e5e
}


.main-headings {
	text-align: center;
	border-bottom: 1px solid #dcdcdc;
	padding: 50px 38px 0 38px;
	color: #adadad

}

.sub-headings {
	text-align: left;
}

.main-content {
	margin: auto;
	padding: 4em;
}

.button {
	cursor: pointer;
	border:1px solid #eb8571; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:tahoma, verdana, arial, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
	background-color: #F2AFA2; background-image: -webkit-gradient(linear, left top, left bottom, from(#F2AFA2), to(#F25E5E));
	background-image: -webkit-linear-gradient(top, #F2AFA2, #F25E5E);
	background-image: -moz-linear-gradient(top, #F2AFA2, #F25E5E);
	background-image: -ms-linear-gradient(top, #F2AFA2, #F25E5E);
	background-image: -o-linear-gradient(top, #F2AFA2, #F25E5E);
	background-image: linear-gradient(to bottom, #F2AFA2, #F25E5E);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F2AFA2, endColorstr=#F25E5E);
}	
 
.button:hover {
	border:1px solid #e56249;
	background-color: #ec8975; background-image: -webkit-gradient(linear, left top, left bottom, from(#ec8975), to(#ee2f2f));
	background-image: -webkit-linear-gradient(top, #ec8975, #ee2f2f);
	background-image: -moz-linear-gradient(top, #ec8975, #ee2f2f);
	background-image: -ms-linear-gradient(top, #ec8975, #ee2f2f);
	background-image: -o-linear-gradient(top, #ec8975, #ee2f2f);
	background-image: linear-gradient(to bottom, #ec8975, #ee2f2f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ec8975, endColorstr=#ee2f2f);
}	

.text_box {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#submitButton {
	margin: 0 auto;
	display: table;
}
